
@media only screen and (max-width: 40em) {
    body {
        width: 100%;
        font-size: 12px;
    }
    .container {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .howitworks {
        flex-direction: column;
    }
    .howitworks-rows {
        margin: 0px;
    }
    .howitworks-icon {
        width: 33%;
        height: auto;
    }
    .howitworks-title {
        padding: 0px 1em;
        width: 80%;
        height: 4em;
        margin-bottom: 2em;
        border: none;
        text-align: center;
        border-bottom: 1px solid white;
    }
    .contect-photo {
        width: 100%;
        height: auto;
    }
    .contact-container {
        display: block;
    }
    .contect-content {
        width: 100%;
        padding: 4em 0rem;
        margin: 7em 0em;
    }
    .places {
        width: 100%;
    }
    #portfolio-container {
        flex-direction: column;
    }
    .places-senior {
        padding-bottom: 65%;
        background-position: center center;
        width: 100%;
    }
    #timeline {
        display: none;
    }
    .zarit {
        transform: scale(0.7);
    }
    .contect-content h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .contect-content p {
        width: 70%;
    }
    .yourplace-modal p {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0 3rem;
        line-height: 34px;
        font-weight: bolder;
    }
    .portfolio-box .portfolio-box-caption {
        opacity: 1;
    }
    #timeline {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .tl-item {
        width: 100%;
    }
    .tl-item:hover {
        width: 100%; !important;
    }
    .no-mobile {
        display: none;
    }
    .mobile {
        display: block;
        width: 100%;
    }

    .mobile-timeline {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .mobile-timeline-item {
        position: relative;
        background-size: cover;
        height: 46em;
        background-position: right;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    #timeline {
        display: block;
    }
    section {
        height: initial;
    }
    #fungovani {
        margin: 11em 0px;
    }

    .mobile-timeline-item h1 {
        text-align: center;
        margin-top: 1em;
        z-index: 1;
    }

    .mobile-timeline-item p {
        padding: 0px 3rem;
        text-align: center;
        font-size: 1.1em;
        z-index: 1;
    }

    .lesbian-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .bottom-buttom {
        position: fixed;
        width: 5em;
        height: 5em;
        right: 10%;
        bottom: 5%;
    }
    .no-mobile {
        display: none !important;
    }
    .yourplace-modal {
        background-position: center;
    }
    #module-road {
        background-position: left;
    }
}
